
    <style>
        .footer {
            font-family: 'Courier New', Courier, monospace;
            white-space: pre; /* Mantiene los espacios en blanco y saltos de línea */
            text-align: center; /* Opcional, para centrar el texto */
            background-color: #333; /* Opcional, para el fondo del footer */
            color: #fff; /* Opcional, para el color del texto */
            padding: 10px; /* Opcional, para agregar un poco de espacio alrededor del texto */
        }
    
        .footer p {
            margin: 0;
        }
    </style>


    


