<div class="container">
    <div class="row">
      <div class="col-md-6">
        <!-- Contenedor de particiones -->
        <div class="d-flex flex-column" style="height: 100vh;">
          <!-- Primera partición más grande -->
          <div class="flex-grow-1" style="background-color: lightblue;">
            Parte superior (más grande)
          </div>
          <!-- Segunda partición más pequeña -->
          <div style="height: 100px; background-color: lightgreen;">
            Parte inferior (más pequeña)
          </div>
        </div>
      </div>
    </div>
  </div>
  